<h1 style="text-align: center;">All Employees Information</h1>
<hr />
<table width="100%" border="1">
    <tr>
        <th>Emp ID</th>
        <th>Emp Name</th>
        <th>Emp Job</th>
        <th>Emp Salary</th>
        <th>Operations</th>
    </tr>

    <tr *ngFor="let emp of empinfo">
        <td>{{emp.id}}</td>
        <td>{{emp.ename}}</td>
        <td>{{emp.job}}</td>
        <td>{{emp.salary}}</td>
        <td><input type="button" value="Delete" (click)="delEmp(emp.id)" />
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <input type="button" value="View Emp" (click)="getempbasedonID(emp.id)" /></td>
    </tr>
</table>