<h1 style="text-align: center;">
    Simple Register Form
</h1>
    <hr />
    <p style="text-align: center;">
        <label>Student Name </label><br />
        <input type="text"  [(ngModel)] = "sname" />
        <br /><br />
        <label>Gender</label><br />
    <input type="radio"  name="rdoGender"  value="Male"  [(ngModel)]="gender" />
        <label>Male</label>
    <input type="radio"  name="rdoGender"  value="Female"  [(ngModel)]="gender" />
        <label>Female</label>
        <br /><br />
        <input type="checkbox"  [(ngModel)]="isGraduate"  /><label>Is Student Graudate</label>
        <br /><br />
        <label>Location</label><br />
        <select [(ngModel)]="location">
            <option value="-1">Select City</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Bangalore">Bangalore</option>
        </select>
        <br /><br />
        <input type="button" value="Get Details" (click)="PrintDetails()" />
    </p>
    
    <div  *ngIf="isGraduate; then temp1; else temp2"></div>

    <ng-template #temp1>
        <h2 [ngClass]="cssClass" [innerHTML]="msg"></h2>        
    </ng-template>

    <ng-template #temp2>
        <h2 [ngClass]="cssClass" [innerHTML]="msg"></h2>
    </ng-template>

    <table width="100%" border="1">
        <tr>
            <td width="25%">
                <ol type="A">
                    <li *ngFor="let city of cities">{{city}}</li>
                </ol>
            </td>
            <td width="75%">
                <table width="100%" border="1">
                    <tr *ngFor="let city of cities">
                        <td>{{city}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>